<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iframe 主页面</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<span>这是父页面</span>

<br />

<!--<iframe src="http://zuoxin.com:8080/iframe-child.html" width="800" height="640" />-->
<iframe src="http://localhost:8080/iframe-child.html" width="800" height="640" />

</body>
</html>